<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Instruções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Instruções</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="margin-top: 40px">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="arrow-forward-outline"></ion-icon>
        Tutorial - vídeo
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <video poster="./assets/img/poster_app.jpg" class="borda-instrucoes" width="300" controls>
        <source src="./assets/video/tutorial.mp4" type="video/mp4">
      </video>
    </ion-card-content>
  </ion-card>

  <ion-card-content class="ion-text-justify">
    <ion-card class="card-instrucoes">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Utilizar cartões
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text color="dark">
          Para escolher um cartão e o ouvir, navegue pela barra das categorias de cartões na parte inferior da tela principal:
          <ion-img style="width: 60%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/navegação.jpg"
          ></ion-img>
          Acesse o grupo de cartões desejados, clique no cartão de sua escolha e poderá ouví-lo.
        </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-instrucoes">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Criar cartões
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text color="dark">
          Se deseja criar um cartão, acesse o menu no canto superior esquerdo:
          <ion-img style="width: 25%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/menu.jpg"
          ></ion-img>
          Em seguida, aperte em "Criar cartões":
          <ion-img style="width: 40%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/criar_cartões.jpg"
          ></ion-img>
          Informe uma legenda e depois aperte em "Capturar imagem":
          <ion-img style="width: 40%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/detalhes_cartão.jpg"
          ></ion-img>
          A câmera será aberta, registre e salve a imagem desejada.
        </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-instrucoes">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Utilizar cartões autorais
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text color="dark">
          Os cartões autorais estão agrupados na seção "Meus", acesse o menu:
          <ion-img style="width: 25%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/menu.jpg"
          ></ion-img>
          Escolha a opção "Cartões":
          <ion-img style="width: 40%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/cartões.jpg"
          ></ion-img>
          Na barra dos grupos de cartões, na parte inferior da tela, 
          procure o grupo "Meus", é onde os cartões autorais poderão ser encontrados e utilizados:
          <ion-img style="width: 60%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/aba_meus.jpg"
          ></ion-img> 
        </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-instrucoes">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Excluir cartões autorais
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text color="dark">
          Para excluir um cartão autoral, acesse o menu no canto superior esquerdo:
          <ion-img style="width: 25%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/menu.jpg"
          ></ion-img>
          Acesse a opção "Galeria de cartões":
          <ion-img style="width: 40%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/galeria.jpg"
          ></ion-img>
          Escolha o cartão que deseja excluir e clique nele, ao aparecer a opção excluir efetue a ação:
          <ion-img style="width: 35%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/opcoes.jpg"
          ></ion-img>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-instrucoes">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Editar cartões autorais
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text color="dark">
          Para editar um cartão autoral, acesse o menu no canto superior esquerdo:
          <ion-img style="width: 25%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/menu.jpg"
          ></ion-img>
          Acesse a opção "Galeria de cartões":
          <ion-img style="width: 40%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/galeria.jpg"
          ></ion-img>
          Escolha o cartão que deseja editar, e ao clicá-lo aparecerá editar entre as opções. Em outra aba você poderá editar e salvar a nova legenda:
          <ion-img style="width: 50%;"
            class="borda-instrucoes tutorial-img"
            src="./assets/img/editar.jpg"
          ></ion-img>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-content>
