<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Política de Privacidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Política de Privacidade</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-margin-top">
    <ion-card-content class="ion-text-justify">
      <ion-card-title style="margin-top: 20px; font-weight: bold">Política de Privacidade</ion-card-title>
      <p style="margin-bottom: 15px; margin-top: 10px;">
        <ion-text color="dark ion-margin-top">
          Esta política de privacidade se aplica ao aplicativo App PECS (doravante denominado "Aplicativo") para dispositivos móveis que foi criado por (doravante denominado "Provedor de Serviços") como um serviço Gratuito. Este serviço destina-se a ser utilizado "COMO ESTÁ".
        </ion-text>
      </p>
      <ion-card-title style="margin-top: 20px; font-weight: bold">Coleta e uso de informações</ion-card-title>
      <p style="margin-bottom: 15px; margin-top: 10px;">
        <ion-text color="dark ion-margin-top">
          O Aplicativo coleta informações quando você baixa e usa. Essas informações podem incluir informações como
          <ul>
            <li>O endereço de protocolo da Internet do seu dispositivo (por exemplo, endereço IP)</li>
            <li>As páginas do Aplicativo que você visita, a hora e a data da sua visita, o tempo gasto nessas páginas</li>
            <li>O tempo gasto no aplicativo</li>
            <li>O sistema operacional que você usa no seu dispositivo móvel</li>
          </ul>
        </ion-text>
      </p>
      <p style="margin-bottom: 15px; margin-top: 10px;"><ion-text color="dark ion-margin-top">O Aplicativo não coleta informações precisas sobre a localização do seu dispositivo móvel.</ion-text></p>
      <p style="margin-bottom: 15px; margin-top: 10px;"><ion-text color="dark ion-margin-top">O Provedor de Serviços poderá usar as informações que você forneceu para entrar em contato com você de tempos em tempos para fornecer informações importantes, avisos necessários e promoções de marketing.</ion-text></p>
      <p style="margin-bottom: 15px; margin-top: 10px;"><ion-text color="dark ion-margin-top">Para uma melhor experiência, ao usar o Aplicativo, o Provedor de Serviços pode exigir que você nos forneça certas informações de identificação pessoal. As informações solicitadas pelo Provedor de Serviços serão retidas por ele e utilizadas conforme descrito nesta política de privacidade.</ion-text></p>
      <ion-card-title style="margin-top: 20px; font-weight: bold">Acesso de terceiros</ion-card-title>
      <p style="margin-bottom: 15px; margin-top: 10px;">
        <ion-text color="dark ion-margin-top">
          Apenas dados agregados e anonimizados são transmitidos periodicamente a serviços externos para ajudar o Provedor de Serviços a melhorar o Aplicativo e seu serviço. O Provedor de Serviços pode compartilhar suas informações com terceiros nas formas descritas nesta declaração de privacidade.
        </ion-text>
      </p>
      <p>
        <ion-text color="dark ion-margin-top">Observe que o Aplicativo utiliza serviços de terceiros que possuem sua própria Política de Privacidade sobre o tratamento de dados. Abaixo estão os links para a Política de Privacidade dos prestadores de serviços terceirizados utilizados pelo Aplicativo:
          <ul>
            <li><a href="https://www.google.com/policies/privacy/">Serviços do Google Play</a></li>
          </ul>
        </ion-text>
      </p>
      <p style="margin-bottom: 15px; margin-top: 10px;">
        <ion-text color="dark ion-margin-top">
          O Provedor de Serviços pode divulgar Informações Fornecidas pelo Usuário e Coletadas Automaticamente:
          <ul>
            <li>conforme exigido por lei, como para cumprir uma intimação ou processo legal semelhante;</li>
            <li>quando acreditam de boa fé que a divulgação é necessária para proteger os seus direitos, proteger a sua segurança ou a segurança de outros, investigar fraudes ou responder a um pedido governamental;</li>
            <li>com seus provedores de serviços confiáveis ​​que trabalham em seu nome, não fazem uso independente das informações que lhes divulgamos e concordaram em aderir às regras estabelecidas nesta declaração de privacidade.</li>
          </ul>
        </ion-text>
      </p>
      <ion-card-title style="margin-top: 20px; font-weight: bold">Direitos de exclusão</ion-card-title>
      <p style="margin-bottom: 15px; margin-top: 10px;">
        <ion-text color="dark ion-margin-top">
          Você pode interromper facilmente toda a coleta de informações pelo Aplicativo desinstalando-o. Você pode usar os processos de desinstalação padrão que podem estar disponíveis como parte do seu dispositivo móvel ou através do mercado ou rede de aplicativos móveis.
        </ion-text>
        </p>
      <ion-card-title style="margin-top: 20px; font-weight: bold">Política de retenção de dados</ion-card-title>
      <p style="margin-bottom: 15px; margin-top: 10px;">
        <ion-text color="dark ion-margin-top">
          O Provedor de Serviços reterá os dados fornecidos pelo usuário enquanto você usar o Aplicativo e por um período razoável a partir de então. Se desejar que eles excluam os Dados Fornecidos pelo Usuário que você forneceu por meio do Aplicativo, entre em contato com eles pelo e-mail guilhermelima19rngmail.com e eles responderão em um prazo razoável.
        </ion-text>
      </p>
      <ion-card-title style="margin-top: 20px; font-weight: bold">Crianças</ion-card-title>
      <p style="margin-bottom: 15px; margin-top: 10px;"><ion-text color="dark ion-margin-top">O Provedor de Serviços não usa o Aplicativo para solicitar conscientemente dados ou comercializá-los para crianças menores de 13 anos.</ion-text></p>
      <p style="margin-bottom: 15px; margin-top: 10px;"><ion-text color="dark ion-margin-top">O Aplicativo não se dirige a ninguém com menos de 13 anos de idade. O Provedor de Serviços não coleta intencionalmente informações de identificação pessoal de crianças com menos de 13 anos de idade. Caso o Provedor de Serviços descubra que uma criança menor de 13 anos forneceu informações pessoais, o Provedor de Serviços as excluirá imediatamente de seus servidores. Se você é pai ou responsável e tem conhecimento de que seu filho nos forneceu informações pessoais, entre em contato com o Prestador de Serviços (guilhermelima19rngmail.com) para que ele possa tomar as medidas necessárias.</ion-text></p>
      <ion-card-title style="margin-top: 20px; font-weight: bold">Segurança</ion-card-title>
      <p style="margin-bottom: 15px; margin-top: 10px;"><ion-text color="dark ion-margin-top">O Provedor de Serviços se preocupa em salvaguardar a confidencialidade de suas informações. O Provedor de Serviços fornece salvaguardas físicas, eletrônicas e processuais para proteger as informações que o Provedor de Serviços processa e mantém.</ion-text></p>
      <ion-card-title style="margin-top: 20px; font-weight: bold">Mudanças</ion-card-title>
      <p style="margin-bottom: 15px; margin-top: 10px;"><ion-text color="dark ion-margin-top">Esta Política de Privacidade pode ser atualizada periodicamente por qualquer motivo. O Provedor de Serviços irá notificá-lo sobre quaisquer alterações na Política de Privacidade, atualizando esta página com a nova Política de Privacidade. Aconselhamos que consulte esta Política de Privacidade regularmente para quaisquer alterações, pois o uso continuado é considerado aprovação de todas as alterações.</ion-text></p>
      <p style="margin-bottom: 15px; margin-top: 10px;"><ion-text color="dark ion-margin-top">Esta política de privacidade entra em vigor a partir de 16/05/2024</ion-text></p>
      <ion-card-title style="margin-top: 20px; font-weight: bold">Sua permissão</ion-card-title>
      <p style="margin-bottom: 15px; margin-top: 10px;"><ion-text color="dark ion-margin-top">Ao usar o Aplicativo, você concorda com o processamento de suas informações conforme estabelecido nesta Política de Privacidade agora e conforme alterado por nós.</ion-text></p>
      <ion-card-title style="margin-top: 20px; font-weight: bold">Contate-nos</ion-card-title>
      <p style="margin-bottom: 15px; margin-top: 10px;"><ion-text color="dark ion-margin-top">Caso você tenha alguma dúvida em relação à privacidade durante a utilização do Aplicativo, ou tenha dúvidas sobre as práticas, entre em contato com a Prestadora de Serviços através do e-mail guilhermelima19rngmail.com.</ion-text></p>
    </ion-card-content>
  </ion-card>
</ion-content>
